.finance {
}
.section_in {
}
.finance_head--title {
	max-width: 55rem;
}

.finance_main {

}

.finance_head--twoTitle {
	max-width: 55rem;
	h2 {
		display: inline;
    box-decoration-break: clone;
    padding: 0.5rem 1rem;
    filter: url('#goo');
		background-color: $vio;
		line-height: 6.8rem;
		font-size: 4.8rem;
		color: $white;
		max-width: 35.8rem;
	}
}
.first_finance {
	margin-bottom: 14.6rem;
	.finance_head--img {
		width: 23.4rem;
	}
	.finance_main--head {
		margin-bottom: 5rem;
	}
}
.finance_main--head {
	@include flex-space;
	margin-bottom: 4.4rem;
}
.finance_head--img {
	width: 27.8rem;
}
.finance_grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(39rem , 1fr));
	grid-gap: 3.5rem 2rem;
	margin-bottom: 6.4rem;
	li {
		background: #FFFFFF;
		box-shadow: 0px 0px 8rem rgba(0, 0, 0, 0.06);
		border-radius: 1.6rem;
		padding: 3.2rem 3.1rem 3.3rem 4.1rem;
		p {
			font-size: 1.4rem;
			margin-bottom: 3rem;
		}
		a {
			color: $vio;
			font-family: $font_4;
			font-size: 1.4rem;
		}
	}
}
.finance_item {
}
.finance_icon {
	width: 6.3rem;
	margin-bottom: 3.5rem;
}
.finance_content {
}
.finance_main--bottom {
	@include flex-space;
}
.normal_btn {
}
.finance_btn--blue {
	height: 6.5rem;
	a {
		@include flex-center;
		height: 100%;
		width: 100%;
		padding-left: 5.3rem;
		padding-right: 5.3rem;
	}
}
.finance_btn--green {
	background-color: $green;
	height: 6.5rem;
	a {
		@include flex-center;
		height: 100%;
		width: 100%;
		padding-left: 5.3rem;
		padding-right: 5.3rem;
	}
}
.normal_list-var {
}

.financeMap_main--w {
	margin-bottom: 30.9rem;
	.finance_grid {
		margin-bottom: 0;
	}
}

.finance_head--top {
	@include flex-space;
}

.finance_headMap--number {
	h2 {
		font-size: 9.6rem;
		color: $vio;
		line-height: 8rem;
		margin-bottom: 2rem;
		font-family: $font_2;
		background: linear-gradient(180deg, #5E93FE 0%, #8E6CFD 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
	p {
		font-size: 2rem;
		font-family: $font_2;
	}
}

.financeMap_carts {
	margin-bottom: 7.6rem;
	#map {
		height: 77.5rem;
		width: 100%;
	}
}