img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	display: block;
}

h1 {
	display: inline;
	box-decoration-break: clone;
	padding: 0.5rem 1rem;
	filter: url('#goo');
	background-color: $green;
	line-height: 6.8rem;
	font-size: 4.8rem;
	color: $white;
	max-width: 35.8rem;
	@include bp($point_2) {
    font-size: 2.3rem;
    line-height: 3rem;
	}
}
// End
h2, h3, h4, h5 {
	font-size: 3.8rem;
	line-height: 5rem;
	font-family: $font_3;
	@include bp($point_2) {
		font-size: 1.8rem;
		line-height: 2.4rem;
	}
}
// End
h3 {

}
// End
h4 {

}
// End
h5 {

}
// End
h6 {

}
// End

button {
	cursor: pointer;
}

.simplebar-track.simplebar-vertical {
	background-color: #ECF6FC;
	width: .9rem!important;
}

.simplebar-scrollbar {
	width: .6rem!important;
}

.simplebar-scrollbar:before {
	background: $vio!important;
	opacity: 1!important;
	width: 100%;
}

.material_item--name {
	max-width: 35rem!important;
	margin-right: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	// max-height: 4.6rem;
}

.material_item:hover {
	.material_item--name {
		max-width: 100%!important;
		p {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			max-height: 10.8rem!important;
		}
	}

}

.long_title {
	max-width: 100%!important;
}

.map_marker {
	position: relative;
	p {
		@include flex-center;
		width: 100%;
		height: 100%;
		position: relative;
		font-size: 1.4rem;
		font-family: $font_4;
		position: absolute;
		top: 3.9rem;
	}
	&:before {
		position: absolute;
		top: 0;
		left: 50%;
		background-image: url('../i/global/map_1.svg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		content: '';
		width: 7.5rem;
		height: 9.8rem;
		transform: translateX(-50%);
	}
}


.active_events {
	background-color: #6987DF!important;
}