.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-acc {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-close {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon-down {
	font-size:(8/10)*1rem;
	width:(12/8)*1em;
}
.icon-left {
	font-size:(16/10)*1rem;
	width:(22/16)*1em;
}
.icon-right {
	font-size:(16/10)*1rem;
	width:(23/16)*1em;
}
.icon-tg {
	font-size:(17/10)*1rem;
	width:(19/17)*1em;
}
