extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'Log IN'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.login 
		.section_in 
			.login_main--w 
				.login_title 
					h1 Вход
				.login_form--w 
					form
						.login_form
							ul 
								li.login_input--w
									label(for="email") E-Mail
									input(type="email" name="email" id="email" required)
								li.login_input--w
									label(for="password") Пароль
									input(type="password" name="password" id="password" required)
						.login_btn--all 
							ul 
								li 
									button(type="submit") Войти
								li
									a(href="#") Восстановить пароль
								li 
									a(href="#") Зарегистрироваться
