extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'NORMAL ACT'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.normal 
		.section_in 
			.normal_main--w 
				.normal_main--head 
					h1!='Нормативные</br>акты'
					.normal_head--filter 
						ul
							li
								p Текст
								.normal_filter--inputTxt 
									input(type="text", name="txt" placeholder="Например, текст")
							li
								p Дата документа
								.normal_filter--inputTxt 
									input(type="text", name="txt" placeholder="Все время" onfocus="(this.type = 'date')")
							li
								p Номер документа
								.normal_filter--inputTxt 
									input(type="number", name="txt" placeholder="Например, 567657567")
							li
								p ОИВ
								.normal_filter--select.mod_select 
									select(name="oiv" id="oiv")
										option(value="Все виды") Все виды  
										option(value="Все виды") Все виды 
										option(value="Все виды") Все виды 
										option(value="Все виды") Все виды 
										option(value="Все виды") Все виды
							li 
								button 
									.filter_icon 
										img(src="i/global/searchs.svg", alt="")
									p Найти
				.normal_list--w 
					ul.normal_list
						-for(i = 0; i < 13; i++) 
							li.normal_item 
								.normal_item--head 
									h3 Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы
								.normal_item--bottom 
									.norma_item--tags 
										ul 
											li!='Тематика: <a href="#">Другое</a>'
											li!='Вид документа: <a href="#">Прочие документы</a>'
									.normal_item--down
										ul
											li 
												a(href="#" download) 
													.normal_down--icons 
														img(src="i/global/doc.svg", alt="")
													.normal_down--txt 
														p Файл для скачивания: 
														a(href="#") Файл.pdf,   5.13 МБ
											li 
												a(href="#" download) 
													.normal_down--icons 
														img(src="i/global/doc.svg", alt="")
													.normal_down--txt 
														p Файл для скачивания: 
														a(href="#") Файл.pdf,   5.13 МБ
				.normal_main--bottom 
					.normal_btn--more 
						a(href="#") Показать ещё
					.normal_list-var 
						p Выводить:
						ul 
							li 
								a(href="#") 10
							li 
								a(href="#") 50
							li 
								a(href="#") 100   