extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'SINGLE FINANCE'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.singleFinance 
		.section_in 
			.singleFinance_main 
				.singleFinance_content
					.singleFinance_content--title
						h1 Фонд микрофинансирования Краснодарского края
					p!='<b>Унитарная некоммерческая организация – микрокредитная компания "Фонд микрофинансирования субъектов малого и среднего предпринимательства Краснодарского края" (далее – Фонд) создана в соответствии с долгосрочной краевой целевой программой "Государственная поддержка малого и среднего предпринимательства в Краснодарском крае на 2013- 2017 годы", утвержденной постановлением главы администрации (губернатора) Краснодарского края от 04 июня 2012 года № 606.</b>'
					.single_events--txtWrapper
						p Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073.
						p Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет.
					.singleFinance_btn 
						a(href="#") Задать вопрос
				.singleFinance--sidebar 
					.singleFinance_img 
						img(src="i/finance/finance_name.png", alt="")
					.singleFinance_sidebar--contacts 
						p Контакты
						ul 
							li 350911, г. Краснодар, ул. Трамвайная, 2/6, 5 этаж, оф 509
							li 8(861)298-08-08 доб. 200
							li 
								a(href="#") info@fmkk.ru
			.singleFinance--faq 
				h2 Вопросы и ответы «Фонду микрофинансирования Краснодарского края»
				ul.faq_list
					-for(i = 0; i < 6; i++)
						li.faq_item--w 
							.faq_item--head 
								p Зачем нужно заниматься личным финансовым планированием?
								+icon('acc')
							.faq_item--body
								p!='Делать пенсионные накопления нужно как можно раньше, чтобы не рассчитывать только на государственную пенсию. Также нужно подумать об инвестировании этих накоплений, чтобы сберечь их от инфляции. Откладывать 10 тысяч в месяц — вполне достаточно, чтобы накопить на пенсию. Всё зависит от ваших запросов. ... Для начала надо посчитать, какая пенсия вам нужна. При этом можно грубо оттолкнуться от текущего уровня расходов. Например, сейчас вы тратите на жизнь 20 тысяч ₽'