extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'SINGLE NEWS'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.single_news.single_mod 
		.section_in 
			.single_news--mainTop 
				.single_news--imgs 
					img(src="i/material/singleMaterial.jpg", alt="")
				.single_news--content 
					.single_news--time 
						p 03.03.2020
					.single_news--title 
						h1 Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы
			.single_news--mainBottom 
				.single_newsBottom--content 
					.single_bottom--subtitle 
						h2 Соглашение о сотрудничестве между администрацией Краснодарского края и Министерством финансов Российской Федерации в рамках реализации Стратегии повышения финансовой грамотности в Российской Федерации на 2017 — 2023 годы
					.single_bottom--txts 
						p!='Делать пенсионные накопления нужно как можно раньше, чтобы не рассчитывать только на государственную пенсию. Также нужно подумать об инвестировании этих накоплений, чтобы сберечь их от инфляции. Откладывать 10 тысяч в месяц — вполне достаточно, чтобы накопить на пенсию. Всё зависит от ваших запросов. ... Для начала надо посчитать, какая пенсия вам нужна. При этом можно грубо оттолкнуться от текущего уровня расходов. Например, сейчас вы тратите на жизнь 20 тысяч ₽ Делать пенсионные накопления нужно как можно раньше, чтобы не рассчитывать только на государственную пенсию. Также нужно подумать об инвестировании этих накоплений, чтобы сберечь их от инфляции. Откладывать 10 тысяч в месяц — вполне достаточно, чтобы накопить на пенсию. Всё зависит от ваших запросов. ... Для начала надо посчитать, какая пенсия вам нужна. При этом можно грубо оттолкнуться от текущего уровня расходов. Например, сейчас вы тратите на жизнь 20 тысяч ₽</br></br>Делать пенсионные накопления нужно как можно раньше, чтобы не рассчитывать только на государственную пенсию. Также нужно подумать об инвестировании этих накоплений, чтобы сберечь их от инфляции. Откладывать 10 тысяч в месяц — вполне достаточно, чтобы накопить на пенсию. Всё зависит от ваших запросов. ... Для начала надо посчитать, какая пенсия вам нужна. При этом можно грубо оттолкнуться от текущего уровня расходов. Например, сейчас вы тратите на жизнь 20 тысяч ₽ Делать пенсионные накопления нужно как можно раньше, чтобы не рассчитывать только на государственную пенсию. Также нужно подумать об инвестировании этих накоплений, чтобы сберечь их от инфляции. Откладывать 10 тысяч в месяц — вполне достаточно, чтобы накопить на пенсию. Всё зависит от ваших запросов. ... Для начала надо посчитать, какая пенсия вам нужна.'
					ul.single_news--download 
						-for(i = 0; i < 3; i++)
							li.single_downloadItem 
								.single_download--imgW 
									.single_download--img 
										img(src="i/global/docs.svg", alt="")
									p Файл для скачивания: 
								a(href="#") Файл.pdf,   5.13 МБ
				.single_news--bar 
					.single_news--img 
						img(src="i/home/consult1.png", alt="")
					.single_news--barContent
						p Автор новости:
						span Фонд микрокредитования Краснодарского края
						a(href="#") FMKK.RU 