extends _layout

block vars
	- array = {body_class:'mod_background', layout_mod:'', sub_keywords:'', title_inner:'SINGLE EVENTS'}
block content_block
	+bread(['Главная'], 'Раздел')
	section.singleEvents 
		.section_in 
			.singleEvents_main--head
				.singleEvents_title 
					h1 Название мероприятия
			.singleEvents_main 
				.singleEvents_main--body
					.singleEvents_main--contentsMod
						.singleEvents_img 
							img(src="i/material/singleMaterial.jpg", alt="")
						.singleEvents_text 
							h2 Подробнее о мероприятии
							p!='<b>Унитарная некоммерческая организация – микрокредитная компания "Фонд микрофинансирования субъектов малого и среднего предпринимательства Краснодарского края" (далее – Фонд) создана в соответствии с долгосрочной краевой целевой программой "Государственная поддержка малого и среднего предпринимательства в Краснодарском крае на 2013- 2017 годы", утвержденной постановлением главы администрации (губернатора) Краснодарского края от 04 июня 2012 года № 606.</b></br></br> Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073.</br></br>Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет. Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет. </br></br>Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет. Фонд включен в государственный реестр микрофинансовых организаций 11 октября 2013 года, регистрационный номер 401303203004073. Основным видом деятельности Фонда является предоставление микрозаймов субъектам малого и среднего предпринимательства и организациям инфраструктуры поддержки субъектов малого и среднего предпринимательства Краснодарского края в сумме до 5 000 000 рублей сроком до 3 лет. '
					.singleEvents_sidebar 
						.events_gridItems--info 
							.events_gridItems--icons 
								img(src="i/global/white_cal.svg", alt="")
							ul 
								li
									p Время и дата начала
									span 22.02.2023 в 9:00
								li
									p Время и дата окончания
									span 22.02.2023 в 9:00
						.single_sidebar--location 
							.single_sidebarLocation--icons 
								img(src="i/global/location.svg", alt="")
							.single_sidebarLocation--txt 
								p Место проведения:
								span г. Краснодар, ул. Красная, 5
						.single_sidebar--price 
							.single_sidebarPrice--icons 
								img(src="i/global/rub.svg", alt="")
							.single_sidebarPrice--txt 
								p Стоимость:
								span Бесплатно
						.single_events--barOther 
							.single_events--logo 
								img(src="i/home/consult1.png", alt="")
							.single_events--details 
								.single_eventsName 
									p Организатор:
								.single_eventsTitles 
									p Фонд микрокредитования Краснодарского края
								a(href="#") FMKK.RU
							.single_events--contacts 
								p Контактные данные организатора:
								ul 
									li 
										a(href="#") +7 (918) 222-33-44
									li 
										a(href="#") mail@gmail.com
								.single_events--action 
									a(href="#") Зарегистрироваться в мероприятии с исользованием личного кабинета   
					
